{% extends "base.html" %}
{% load markup_tags %}
{% load blogtags %}
{% load static %}

{% block title %}Portfolio{% endblock %}

{% block specific_css %}
<link rel="stylesheet" href="{% static 'portfolio/css/portfolio.css' %}" media="screen" />
{% endblock %}

{% block content %}
{% include 'blog/sidebar.html' %}

<div class="projects">
{% for project in object_list %}
    <div class="project">
        <h2><a href="{% url 'portfolio_detail' project.slug %}">{{project.title}}</a></h2>
        <a href="{% url 'portfolio_detail' project.slug %}"><img src="{{MEDIA_URL}}{{project.primary.small}}" class="primary" /></a>
        {{project.description|make_lead:800|apply_markup:"markdown"}}
        <p><a class="button" href="{% url 'portfolio_detail' project.slug %}">Read More</a></p>
    </div>
{% empty %}
    <h2>Oopps...</h2>
    <p>There doesn&rsquo;t appear to be anything here...</p>
{% endfor %}
</div>

{% endblock %}
