<div id="sidebar">
	<div id="nav">
	<h2>Navigation</h2>
	<ul>
		<li><a href="{% url 'index' %}">Home</a></li>
		<li><a href="{% url 'blog_index' %}">Blog</a></li>
		<li><a href="{% url 'portfolio_index' %}">Portfolio</a></li>
		<li><a href="{% url 'bio' %}">About Me</a></li>
		<li><a href="{% url 'contact' %}">Contact Me</a></li>
		<li><a href="{% url 'resume' %}">R&eacute;sum&eacute;</a></li>
		{% if request.user.is_authenticated %}
		<li><a href="/admin/">Admin</a></li>
		{% endif %}
	</ul>
	</div>

	{% include 'search_form.html' %}

	{% for year in years %}
	{% if forloop.first %}
	<div id="archives">
		<h2>Archives</h2>
		<ul>
	{% endif %}
		<li><a href="{% url 'blog_archives' year %}">{{year}}</a></li>
	{% if forloop.last %}
		</ul>
		<p><a href="{% url 'blog_archives' %}">See it all!</a></p>
	</div>
	{% endif %}
	{% endfor %}

    <div id="rss">
        <h2>RSS Feed</h2>
        <p>Subscribe to the <a href="{% url 'blog_rss' %}">RSS Feed</a> for immediate updates and notifications.</p>
    </div>
</div>
