{% extends "base.html" %}
{% load markup_tags %}
{% load static %}


{% block title %}{{ post.title }}{% endblock %}

{% block specific_css %}
<link rel="stylesheet" href="{% static 'blog/js/fancybox/jquery.fancybox.css' %}" media="screen" />
{% endblock %}

{% block specific_js %}
    <script type="text/javascript" src="{% static 'blog/js/jquery.tableofcontents.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/fancybox/jquery.fancybox.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/detail.js' %}"></script>
{% endblock %}

{% block content %}
{% include "blog/sidebar.html" %}

<div id="post">
	<h2>{{ post.title }}</h2>
	{% with post.date as publish %}
	<p id="post-date"><strong>{{ publish|date:"j" }}</strong>, {{ publish|date:"M Y" }}</p>
	{% endwith %}

	{% if post.image %}
		<div id="images">
			<a href="{{ MEDIA_URL }}{{ post.image.location }}" rel="lightbox"><img src="{{ MEDIA_URL }}{{ post.image.location }}" alt="{{ post.image.title }}" /></a>
			{% if post.image.desc %}
			<p>{{ post.image.desc }}
			{% endif %}
		</div>
	{% endif %}

    <div id="contents">
        <strong>Contents</strong>
    </div>

	{{ post.body|markdown }}

    {% comment %}
	{% include "blog/comments.html" %}
    {% endcomment %}
</div>
{% endblock %}
