{% load markup %}
<div id="comments">
<h3>Comments</h3>
{% for comment in post.comments.approved_only %}
<div class="comment {% cycle "even" "odd" %}{% if comment.admin_comment %} admin{% endif %}">
    <p>
    {% if comment.website %}
    <strong><a href="{{comment.website}}">{{comment.author}}</a></strong>
    {% else %}
    <strong>{{ comment.author }}</strong>
    {% endif %}
    said on {{comment.date|date:"M j, Y"}}:</p>
	{{comment.comment|markdown}}
</div>
{% empty %}
<p>This space intentionally left blank.</p>
{% endfor %}
</div>
<h4>Have Something to Say?</h4>
<p>Questions? Comments? Concerns? Let me know what you&rsquo;re thinking.</p>
<form action="" method="post">
    {{ form.non_field_errors }}
<ul>
    <li><span><label for="id_author">Your Name:</label>
    {% for error in form.author.errors %}
        <strong>{{ error|escape }}</strong>
    {% endfor %}
    </span>
    <input type="text" name="author" id="id_author"
        {% if request.user.is_authenticated %}
        value="Corey Maynard"
        {% endif %}
        {% if request.POST.author %}
        value="{{ request.POST.author }}"
        {% endif %}
    />

    </li>
    <li><span><label for="id_author_url">Your Website (optional):</label>
    {% for error in form.author_url.errors %}
        <strong>{{ error|escape }}</strong>
    {% endfor %}
    </span>
    {{ form.author_url}}
    </li>
    <li><span><label for="id_author_email">Your Email (optional):</label>
    {% for error in form.author_email.errors %}
        <strong>{{ error|escape }}</strong>
    {% endfor %}
    </span>
    {{ form.author_email}}
    </li>
    <li><span><label for="id_comment">Comments:</label>
    {% for error in form.comment.errors %}
        <strong>{{ error|escape }}</strong>
    {% endfor %}
    </span>
    <p>You can use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> formatting here.</p>
    {{ form.comment }}
    </li>
    <li><span><label for="id_math">What&rsquo;s 5 + 2?:</label>
    {% for error in form.math.errors %}
        <strong>{{ error|escape }}</strong>
    {% endfor %}
    </span>
    {{ form.math}}
    </li>
    <li><span><label for="id_extra">Extra</label>
    {% for error in form.extra.errors %}
        <strong>{{ error|escape }}</strong>
    {% endfor %}
    {{ form.extra}}
    </li>
</ul>
<p><input type="hidden" name="post" value="{{ post.id }}" /><input type="submit" value="Submit" /></p>
</form>
