<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset=utf-8>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="/files/css/base.css" media="screen" />
		{% block specific_css %}{% endblock %}
		<script type="text/javascript" src="/files/js/jquery-1.4.1.min.js"></script>
		<script type="text/javascript" src="/files/js/main.js"></script>
		{% block specific_js %}
		{% endblock %}
	</head>
	<body>
	<div id="header">
		<h1><a href="{% url index %}"><span>Corey</span> Maynard</a></h1>
	</div>
	<div id="content">
    {% if messages %}
    <div id="user-messages">
        <h2>Messages</h2>
        <ul>
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        <p><a id="hide" class="button" href="">Hide</a></p>
    </div>
    {% endif %}
	{% block content %}{% endblock %}
	</div>
	<div id="footer">
	<div id="footer-contents">
		<div id="updates">
		<h3>Recent Updates</h3>
		<p>Interested in what&rsquo;s been happening around here? Here's what I&rsquo;ve had to say lately:</p>
		<ol>
			{% for post in recent %}
			<li><a href="{% url blog_detail slug=post.slug %}">{{post.title}} &ndash; {{post.date|date:"M j, Y"}}</a></li>
			{% empty %}
			<li>There doesn't appear to be anything here...</li>
			{% endfor %}
		</ol>
		<p>Not enough? Get your fix at the <a href="{% url blog_archives %}">Archives</a>.</p>
		</div>
		<div id="music">
		<h3>Categories</h3>
		<p>All of my posts here fit under some category or another. Here are the top five categories:</p>
		{% for category in categories %}
            {% if forloop.first %}
            <ol>
            {% endif %}
            <li><a href="{% url blog_categories category.name %}">{{category.name}}</a></li>
            {% if forloop.last %}
            </ol>
            {% endif %}
            {% empty %}
            <p>No Categories Exist.</p>
		{% endfor %}
        <p>You can find the rest of them at the <a href="{% url blog_categories %}">Category List</a></p>
		</div>
		<div id="about-me">
		<h3>About Me</h3>
		<p>I am Corey Maynard, web developer and designer in Baltimore, Maryland.</p>
		<p>Here I <a href="{% url blog_index %}">write</a> about my work, and topics that intrest me in the field. Learn more <a href="{% url bio %}">About Me</a>.</p>
		</div>

	</div>
	<p id="copy">&copy; 2008&ndash;2012, <a href="{% url contact %}">Corey Maynard</a></p>
	</div>
    {% if is_production %}
    <!--Tracking Information-->
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-4893395-2");
    pageTracker._trackPageview();
    </script>
    {% endif %}
	</body>
</html>
