{% extends "base.html" %}

{% block title %}Contact Me{% endblock %}
{% block pagetitle %}Contact Me{% endblock %}

{% block content %}
{% include 'blog/sidebar.html' %}
<h2>Contact Me</h2>
{% if sent %}
<p>You&rsquo;re message has been sent! I&rsquo;ll get back to you as soon as I can.</p>
{% else %}
<p>Want to get in touch with me? Send me an email through the form below, and I&rsquo;ll get in touch with you as soon as possible.</p>

<form method="post" action="">
<ul>
	{{form.as_ul}}
</ul>
<p><input type="submit" value="Send It!" /></p>
</form>
{% endif %}
{% endblock %}
