{% extends "base.html" %}

{% block title %}Resum&eacute;{% endblock %}

{% block content %}
{% include 'blog/sidebar.html' %}
<div id="resume">
    <h2>R&eacute;sum&eacute;</h2>
    <a href="{{ MEDIA_URL }}resume.pdf">Download a Copy of My R&eacute;sum&eacute;</a>

    <div id="education">
    <h3>Education</h3>
        <h4><a href="http://www.ucf.edu">University of Central Florida</a></h4>
        <ul>
            <li>Bachelor of Arts &ndash; <a href="http://www.dm.ucf.edu">Digital Media, Interactive Systems</a></li>
            <li>Minor in Secure Computing and Networking (SCAN)</li>
            <li>Graduated in May 2010</li>
        </ul>
    </div>

    <div id="work-history">
    <h3>Work Experience</h3>
        <h4><a href="http://northropgrumman.com">Northrop Grumman</a></h4>
        <p>Software Engineer I &ndash; 2010 to present</p>
        <ul>
            <li>Net Centric Capability Systems Engineering Team
                <ul>
                    <li>Developed data generation software using Python, MySQL, and FOSS packet analysis and manipulation software in support of testing core capabilities for a large software deployment and integration program</li>
                </ul>
            </li>
            <li>NCIC Cyber Situational Awareness IR&amp;D
                <ul>
                    <li>Developed a PHP web application to provide a hierarchical visualization for situational awareness of traffic on the global Internet, or on private networks, capable of handling millions of unique IP addresses in a PostgreSQL database</li>
                    <li>Rewrote core components of the application to use PHP5 classes supported by over 40 unit tests in PHPUnit.</li>
                    <li>Created a deployment procedure utilizing Jenkins CI to run the unit tests, build documentation using NaturalDocs, and create RPM packages for installation and setup the application and its dependencies</li>
                    <li>Wrote a web installer to handle creating and updating configuration settings and database structures</li>
                    <li>Managed and mentored a team of 5 developers, balancing tasking issues, peer review and providing training to improve their skills</li>
                    <li>Drafted a XML schema for integration with other applications</li>
                    <li>Collaborated and integrated with multiple different external teams to allow the the application to be used as the visualization for their data through JMS feeds</li>
                </ul>
            </li>
            <li>Lean Process IR&amp;D
                <ul>
                    <li>Researched and implemented an Agile work flow for continuous integration and testing of applications using Rally, FitNesse, Jenkins and Subversion</li>
                    <li>Created a local environment of Fedora's Koji and Bodhi systems for building and packaging software into YUM repositories</li>
                </ul>
            </li>
            <li>Model Based Systems Engineering IR&amp;D
                <ul>
                    <li>Development on a Microsoft XNA C# visualization supporting stereoscopic 3D and the Microsoft Kinect for a IBM Rational Rhapsody systems engineering model based simulation</li>
                    <li>Integrated with JMS between the application and IBM Rational Rhapsody</li>
                </ul>
            </li>
        </ul>

        <h4><a href="http://www.cdws.ucf.edu">Course Development and Web Services at UCF</a></h4>
        <p>Web Developer &ndash; 2008 to 2010</p>
        <ul>
            <li>Redbeard / To Be Done 3
                <ul>
                    <li>Developed an internal Django client and course management system to aggregate course, student, faculty &amp; staff information from supported enterprise systems allowing the team to support, develop, and track online courses for the University of Central Florida</li>
                    <li>Mentored a team of 3 other developers; delegated tasks and provided training</li>
                </ul>
            </li>
            <li><a href="http://techrangers.cdl.ucf.edu">Techrangers Web Site</a>
                <ul>
                    <li>Developed custom W3C Standards Compliant Wordpress theme</li>
                </ul>
            <li><a href="http://nonprofitnexus.ucf.edu">The Central Florida Nonprofit Nexus</a>
                <ul>
                    <li>Developed custom W3C Standards Compliant Textpattern theme</li>
                    <li>Assisted in the transition of the site to Wordpress</li>
                </ul>
            </li>
        </ul>
        
        <h4><a href="http://www.centralfloridafuture.com/">Central Florida Future</a></h4>
        <p>Staff Photographer &ndash; 2006 to 2008</p>
        <ul>
            <li>View my work on <a href="http://www.flickr.com/photos/viperstrike">Flickr</a></li>
        </ul>
    </div>

    <div id="skills">
    <h3>Skills</h3>
        <h4>Languages</h4>
        <p>I have an extensive knowledge of multiple web and markup languages. Including:</p>
        <ul>
            <li>(X)HTML &amp; CSS</li>
            <li>Python / Django</li>
            <li>MySQL / PostgreSQL</li>
            <li>JavaScript &amp; jQuery</li>
            <li>XML</li>
            <li>PHP</li>
            <li>C# / XNA</li>
        </ul>
        <h4>Software and Operating Systems</h4>
        <ul>
            <li>Windows &ndash; Solid understanding of the operating system, plus experience with the following programs:
                <ul>
                    <li>Photoshop CS4</li>
                    <li>Illustrator CS4</li>
                    <li>Dreamweaver CS4</li>
                    <li>Flash CS4</li>
                    <li>Microsoft Office Suite 2010</li>
                </ul>
            </li>
            <li>Linux &ndash; Solid understanding of the operating system (Ubuntu, Fedora/Red Hat, Arch) and shell commands.</li>
            <li>Mac &ndash; Basic understanding of OSX.</li>
        </ul>
    </div>
</div>
{% endblock %}
