{% extends "base.html" %}

{% block title %}R&eacute;sum&eacute;{% endblock %}

{% block specific_css %}
<link rel="stylesheet" href="/files/css/resume.css" media="screen" />
{% endblock %}

{% block content %}
{% include 'blog/sidebar.html' %}
<div id="resume">
    <h2>R&eacute;sum&eacute;</h2>
    <p id="center">Download a PDF of <a href="{{ MEDIA_URL }}CoreyMaynardResume.pdf">My R&eacute;sum&eacute;</a></p>

    <div class="section" id="skills">
    <h3>Key Skills</h3>
        <ul id="double">
            <li><strong>PHP</strong> &ndash; 7 years experience including PHP5, Wordpress</li>
            <li><strong>Python / Django</strong> &ndash; 4 years experience working in Python and Django</li>
            <li><strong>Linux</strong> &ndash; 5 years experience working with CentOS/Fedora on a daily basis</li>
            <li><strong>MySQL / PostgreSQL</strong> &ndash; Experience building database driven applications</li>
            <li><strong>JavaScript &amp; jQuery</strong> &ndash; 7 years experience working with jQuery and <abbr title="Asyncronous JavaScript and XML">AJAX</abbr></li>
            <li><strong>(X)HTML &amp; CSS</strong> &ndash; 7 years experience creating valid &amp; semantic sites</li>
            <li><strong>Agile Work&ndash;flow</strong> &ndash; 2 years experience with Agile Scrum metholodgy</li>
            <li><strong>Tools</strong> &ndash; Vim, XML, Subversion, Git, Jenkins, PHPUnit, NaturalDocs, Phtoshop/Illustrator</li>
            <li><strong>Social &amp; Outgoing</strong> &ndash; Friendly, outgoing and fun loving</li>
        </ul>
    </div>

    <div class="section" id="work-history">
    <h3>Employment</h3>
    <h4 id="northrop">Northrop Grumman &ndash; <a href="http://northropgrumman.com">www.northropgrumman.com</a> <span class="title">Software Engineer II</span> <span class="dates">2010 &ndash; 2013</span></h4>
        <ul>
            <li>NCIC Cyber Situational Awareness IR&amp;D
                <ul>
                    <li>Developed a PHP web application to provide a hierarchical visualization for situational awareness of traffic on the global Internet, or on private networks, capable of handling millions of unique IP addresses in a PostgreSQL database</li>
                    <li>Rewrote core components of the application to use PHP5 classes supported by over 40 unit tests in PHPUnit.</li>
                    <li>Created a deployment procedure utilizing Jenkins CI to run the unit tests, build documentation using NaturalDocs, and create RPM packages for installation and setup the application and its dependencies</li>
                    <li>Wrote a web installer to handle creating and updating configuration settings and database structures</li>
                    <li>Managed and mentored a team of 5 developers, balancing tasking issues, peer review and providing training to improve their skills</li>
                    <li>Drafted a XML schema for integration with other applications</li>
                    <li>Collaborated and integrated with multiple different external teams to allow the the application to be used as the visualization for their data through JMS feeds</li>
                </ul>
            </li>
            <li>Net Centric Capability Systems Engineering Team
                <ul>
                    <li>Developed data generation software using Python, MySQL, and FOSS packet analysis and manipulation software in support of testing core capabilities for a large software deployment and integration program</li>
                </ul>
            </li>
            <li>Lean Process IR&amp;D
                <ul>
                    <li>Researched and implemented an Agile work flow for continuous integration and testing of applications using Rally, FitNesse, Jenkins and Subversion</li>
                    <li>Created a local environment of Fedora's Koji and Bodhi systems for building and packaging software into YUM repositories</li>
                </ul>
            </li>
            <li>Model Based Systems Engineering IR&amp;D
                <ul>
                    <li>Development on a Microsoft XNA C# visualization supporting stereoscopic 3D and the Microsoft Kinect for a IBM Rational Rhapsody systems engineering model based simulation</li>
                    <li>Integrated with JMS between the application and IBM Rational Rhapsody</li>
                </ul>
            </li>
        </ul>

        <hr />

        <h4 id="cdl">Center for Distributed Learning &ndash; <a href="http://www.cdl.ucf.edu">www.cdl.ucf.edu</a><span class="title">Web Developer</span><span class="dates">2008 &ndash; 2010</span></h4>
        
        <ul>
            <li>Redbeard / To Be Done 3
                <ul>
                    <li>Developed an internal Django client and course management system to aggregate course, student, faculty &amp; staff information from supported enterprise systems allowing the team to support, develop, and track online courses for the University of Central Florida</li>
                    <li>Mentored a team of 3 other developers; delegated tasks and provided training</li>
                </ul>
            </li>
            <li><a href="http://techrangers.cdl.ucf.edu">Techrangers Web Site</a>
                <ul>
                    <li>Developed custom W3C Standards Compliant Wordpress theme</li>
                </ul>
            <li><a href="http://nonprofitnexus.ucf.edu">The Central Florida Nonprofit Nexus</a>
                <ul>
                    <li>Developed custom W3C Standards Compliant Textpattern theme</li>
                    <li>Assisted in the transition of the site to Wordpress</li>
                </ul>
            </li>
        </ul>

        <hr />
        
        <h4 id="cfl">Central Florida Future &ndash; <a href="http://www.centralfloridafuture.com/">www.centralfloridafuture.com</a><span class="title">Staff Photographer</span><span class="dates">2006 &ndash; 2008</span></h4>
        <ul>
            <li>Traveled throughout the area photographing local news and sports events</li>
            <li>View my work on <a href="http://www.flickr.com/photos/viperstrike">Flickr</a></li>
        </ul>
    </div>

    <div class="section" id="education">
    <h3>Education</h3>
    <h4 id="ucf">University of Central Florida &ndash; <a href="http://www.ucf.edu">www.ucf.edu</a><span class="title">Undergraduate</span><span class="dates">2006 &ndash; 2010</span></h4>
        <ul>
            <li>Bachelor of Arts &ndash; <strong>Digital Media</strong>, Interactive Systems &mdash; Specialization in Web Development and Design with a User Centric Focus.</li>
            <li>Minor in <strong>Secure Computing and Networking</strong> (SCAN) &mdash; Studies in securing networks and software.</li>
            <li>Awarded Dean&rsquo;s List multiple semesters</li>
            <li>Member of UCF Crew team for 4 years</li>
        </ul>
    </div>
</div>
{% endblock %}
