@font-face {
	font-family: "Graublau Web Regular";
	src:url("../type/GraublauWeb.eot");
	src:local("Graublau Web Regular"),
		url("../type/GraublauWeb.otf") format("opentype");
}
@font-face {
	font-family: "Graublau Web Bold";
	src: url("../type/GraubluaWebBold.eot")
	src:local("Graublau Web Bold"),
		url("../type/GraublauWebBold.otf") format("opentype");
}

body {
	width:960px;
	margin:0 auto;
	font-size:14px;
	background:url(../img/bg.png) #05181c repeat;
	color:#fff6b8;
	font:12px/18px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,p,ol,ul {
	margin-bottom:18px;
}

h1 a {
	font-family:"Graublau Web Bold";
	text-decoration:none;
	font-size:45px;
	letter-spacing:3px;
}

h2 {
	color:rgb(27,136,158);
	font-family:"Graublau Web Bold";
	font-weight:normal;
	font-size:25px;
	letter-spacing:2px;
}

h3 {
	color:rgb(29,148,173);
	font-family:"Graublau Web Regular";
	font-size:20px;
}

a {color:rgb(171,204,167); }
a:hover { color:rgb(79,200,225); }

code { font-family: "Panic Sans", Monaco, monospace; }

/* * * * * * * *
 * Form Styles *
 * * * * * * * */
form ul li {
	list-style-type:none;
}

form ul li label {
	width:100px;
	display:block;
	padding:5px 0;
}

input,
textarea {
	border:1px solid rgb(137,218,235);
	background:rgb(22,111,129);
	padding:3px;
	font-size:1.1em;
	letter-spacing:1px;
	color:rgb(0,0,0);
}
input[type='submit'] {
	padding:5px;
	cursor:pointer;
}
input[type='submit']:hover {
	background:rgb(29,148,173);
}

/* * * * * * *
 * Structure *
 * * * * * * */

#wrapper {
	background-color:#0a3139;
	border:1px solid rgba(17,86,100,.7);
}

#content {
	padding:10px;
}

#nav,
#nav ul {
	margin:0;
	padding:0;
}
#nav ul li {
	display:inline;
}
#nav ul li a {
	display:inline-block;
	height:20px;
	width:80px;
	padding:5px;
	text-align:center;
	font-size:1.3em;
	background-color:rgba(37,31,24,.6);
	text-shadow:1px 1px 3px rgb(221,221,221);
	text-decoration:none;
	border:1px solid rgb(37,31,24);
	-moz-box-shadow:inset 1px 1px 5px rgba(221,221,221,.2);
}
#nav ul li a:hover {
	color:rgb(34,38,20);
	background-color:rgba(255,246,148,.3);
	text-shadow:1px 1px 3px rgb(45,37,29);
	border:1px solid rgb(0,0,0);
	-moz-box-shadow:inset 1px 1px 5px rgba(0,0,0,.2);
}
#nav ul li a:active {
	outline:none;
}

#post,
#list-posts {
	position:relative;
	width:650px;
	float:left;
}

#list-posts .info li {
	display:inline-block
}

#list-posts .info li:after {
	color:rgb(79,200,225); 
	content:'|';
	padding-left:5px;
}
#list-posts .info li.last:after {
	content:'';
}

#list-posts .comments {
	float:right;
}

#sidebar {
	position:relative;
	float:right;
	top:0;
	right:0;
	width:250px;
}


#footer {
	background-color:rgba(7,36,42,.2);
	border-top:1px solid rgba(166,130,54,.5);
	margin-top:25px;
	clear:both;
}
#footer h3 {
	text-align:center;
}
#footer #updates,
#footer #music,
#footer #about-me {
	float:left;
	width:290px;
	padding:10px;
}
#footer #copy {
	font-size:.9em;
	clear:left;
	text-align:center;
	border-top:1px solid rgba(166,130,54,.1);
	padding: 5px;
	margin:0;
}

/** Page Specific Styles **/
#post #images {
	float:right;
	margin:10px;
	border:1px solid rgba(166,130,54,.4);
	background:rgb(22,111,129);
	-moz-box-shadow:2px 2px 5px rgba(0,0,0,.4);
}

#post #images img {
	max-width:300px;
	max-height:300px;
	margin:0;
	padding:0;
}


#post #images p {
	margin:0;
	padding:0;
	text-indent:1em;
}

#bio-image {
	float: right;
	margin:10px;
	border:1px solid rgba(166,130,54,.4);
	-moz-box-shadow:2px 2px 5px rgba(0,0,0,.4);
}

#latest_project img {
	width:700px;
}

.project-images {
	float:right;
	margin:10px;
	border:1px solid rgba(166,130,54,.4);
	width:430px;
	height:320px;
	padding:10px
}
.project-images p {
	margin:0 auto;
	text-align:center;
}
.project-images a img {
	max-width:430px;
	margin:0 auto;
	border:none;
}
